<h1>Add a Student</h1>

<form class="" action="/students" method="post">
  <p>
    Student Name: <input type="text" name="student[name]" value=""><br>
    Date of Birth: <input type="date" name="student[dob]" value="">

    <br><br> <input type="submit"  value="Add Student">
  </p>

</form>
