<br><br><a href="/subjects/new">Add a Subject</a>
<h1>Welcome <%=current_teacher.name%>!</h1>


<%if !current_teacher.subjects.empty?%>
<h2>Your Subjects:</h2>
<%@subjects.each do |subject| %>
  <h3><a href="subjects/<%=subject.id%>"><%=subject.name%></a></h3>
  <%end%>
  <%else%>
    <h2>Looks like you don't teach any subjects!</h2>
<%end%>
