<h1>Create Account</h1>
<form class="" action="/teachers" method="post">
  Teacher Name: <input type="text" name="name" value="">
  Username: <input type="text" name="username" value=""><br><br>
  Email: <input type="email" name="email" value="">
  Password: <input type="password" name="password" value="">
  <br><br><input type="submit"  value="Create Account">

</form>
