<h1>Welcome to Student Manager</h1>
<h3>Keep track of all you students like never before</h3>


<form  action="/login" method="post">
  <h3>Sign in:</h3>
  <p>
    Username: <input type="text" name="username" value=""> Password:<input type="password" name="password" value="">
    <br><br> <input type="submit"  value="Sign In">
  </p>

</form>

<a href="/teachers/new">Create Account</a>
